@import url('https://fonts.googleapis.com/css?family=Abel');
.welcome {
    height: 540px;
    margin: 10px 0px;
    background-color: white;
}
.selfie {
    display:block;
    margin: 0 auto;
    height: 400px;
}
.content {
    height: inherit;
    width: 65%;
}
.about-title {
    font-size: 50px;
    font-family: 'Abel', sans-serif;
    color: #09f;
    background-color: white;
}
.about-subheader {
    font-size: 40px;
    font-family: 'Abel', sans-serif;
    color: #660066;
    background-color: white;
}
.about-paragraph {
    font-family: 'Abel', sans-serif;
    color: black;
}
/* /Main */


