@import url('https://fonts.googleapis.com/css?family=Abel');
.contact-section {
    width: 50%;
    height: 590px;
    font-family: 'Abel', sans-serif;
    color: #09f;
}
.contact-form {
    height: 521px;
    width: 100%;
    border: none;
}
.contact-info {
    margin: 0px 100px 0px;
}
.map {
    width: 300px;
    height: 250px;
    border: none;
}
